# build artifacts
dist
node_modules

# storage
codeclimber.sqlite
codeclimber.sqlite*
codeclimber.test.sqlite*
codeclimbers.identity

.DS_Store

.vscode
.idea

# oclif directory for caching build resources
tmp
releases

# npm pack and tarball files
package

# intellij
.idea

# symlink to logs
*.log

# windows generated service files
bin/daemon